<form action="/addListings" method="post">
<ul>
  <li>
     <label for="user_id">user_id:</label>
    <input type="text" name="user_id">
  </li>
  <li>
     <label for="Description">Description:</label>
    <input type="text" name="description">
  </li>
    <li>
     <label for="Location">Location:</label>
    <input type="text" name="location">
  </li>
 <li>
     <label for="Start_date">start_date:</label>
    <input type="text" name="start_date">
  </li>
 <li>
     <label for="End_date">end_date:</label>
    <input type="text" name="end_date">
  </li>
<li>
     <label for="price">price:</label>
    <input type="text" name="price">
  </li>

  <li>
    <input type="submit" value="Upload">
  </li>
  <ul>
</form>