<!DOCTYPE html>
<html>
<body>

<a href="/login">login</a>

<form action="/confirm" method="post">
<ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" name="name">
  </li>
  <li>
     <label for="email address">email_address:</label>
    <input type="text" name="email address">
  </li>
  <li>
     <label for="password">password:</label>
    <input type="text" name="password">
  </li>
  <li>
    <input type="submit" value="sign up">
  </li>
  <ul>
</form>


</body>
</html>
