<form action="/confirm" method="post">
<ul>
  <li>
     <label for="email address">email_address:</label>
    <input type="text" name="email address">
  </li>
  <li>
     <label for="password">password:</label>
    <input type="text" name="password">
  </li>
  <li>
    <input type="submit" value="Login">
  </li>
  <ul>
</form>